@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}

/*----------------------------------------------*/


.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;

}


.scrolltop .fab{
    font-size: 3rem;
    color: rgb(19, 158, 65);
}

/* Show scrolltop */
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

 
/*----------------------------------------------*/

img {
    width: 100%;
}

header {
    font-family: sans-serif;
    text-transform: capitalize;
    width: 100%;
    height: 80px;
    background-color: rgba(13, 77, 94, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
    position: fixed;
}


.logo {
    width: 220px;
    margin-top: 8px;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #fff;
    display: block;
    margin: 0 3px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}


nav ul li a:hover {
    color: #4dd1c2;
}

nav ul li a.active {
    background: #FFCF53;
    color: #000;
}


.hamburger {
    display: none; 
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background-color: rgba(13, 77, 94, 0.9);
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}


@media only screen and (max-width: 1100px) {
    header {
        width: 100%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: rgba(13, 77, 94, 0.9);
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }
}

