@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

/*----------------------------------------SCROLL TOP----------------------------------------*/
/*----------------------------------------SCROLL TOP----------------------------------------*/

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;

}


.scrolltop .fab{
    font-size: 3rem;
    color: rgb(19, 158, 65);
}

/* Show scrolltop */
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/* ======================= Navbar ====================== */

img {
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgba(13, 77, 94, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
    position: fixed;
    z-index:1;
}

.logo {
    width: 220px;
    margin-top: 8px;
}

nav .logo {
    display: none;
}

/* CONFIGURAMOS EL ALIGN-ITEMS DE NAV UL */
nav ul {
    display: flex;
    align-items: center;
}
/* QUITAMOS PADDING A LAS OPCIONES VER PERFIL Y CERRAR SESION */
.user__inside{
    padding: 0;
    color: #000;
}
/* NUEVA CLASE DE TIPO BLOCK */
.list__show{
    display: block;
}
/* CLASE DEL BOTON POR DEFECTO */
.bxs-user-circle{
    font-size: 60px;
}
/* NUEVA CLASE AL a DEL ICONO USER Y MARGIN-TOP */
.icono{
    margin-top: 3.5rem;
}
/* OCULTAMOS LAS OPCIONES DE ICONO DEL USER */
.nav__user{
    position: relative;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.nav__user:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.list__show{
    transition: clip-path .5s;
    clip-path: var(--clip);
}
/* ---FIN DE LA CONFIGURACION---- */

nav ul li a {
    color: #fff;
    display: block;
    margin: 0 3px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    color: #4dd1c2;
}

nav ul li a.active {
    background: #FFCF53;
    color: #000;
}

.hamburger {
    display: none; 
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background-color: rgba(13, 77, 94, 0.9);
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

@media only screen and (max-width: 1100px) {
    header {
        width: 100%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: rgba(13, 77, 94, 0.9);
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }
}

/* ======================= Fin Navbar ====================== */
.container{
    max-width: 1200px;
	margin:0 auto;
    padding-top: 80px;
}

img{
    max-width: 100%;}


.container-title{
    display: flex;
    font-size: 30px;
    align-items: center;
    padding: 30px;
    justify-content: center;
    background-color: #eee;
    margin-bottom: 50px;
    color: #222;
}
 main{
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
 }

 .container-img{
    background-color: transparent;
    width: 70%;
 }

 .container-name{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
 }

 .container-info-mascota{
    display: flex;
    flex-direction:column;
 }

 .container-details-mascota{
    padding: 30px 20px;
 }

 .form-group{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
 }

 .caracteristicas{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    border-bottom: 1px solid #e4e4e4;
 }
 .subtitle{
    font-weight: bolder;
 }

 .linea{
    font-style:italic ;
 }

 .btn-add-to-cart{
    border: none;
    border-radius: 5px;
    background-color:#20d7d4; 
    padding: 18px;
    color: #f7f7f7;
    display: flex;
    align-items:center;
    justify-content:center;
    font-weight: 500;
    cursor: pointer;
 }

  button:hover {
    background-color: #24b6c9;
 }

 .container-description{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 20px;
 }

 .title-description h4{
    font-weight: 300;
	color: #666;
	font-size: 14px;
 }

 .text-description{
    font-size: 15px;
	color: #252525;
	line-height: 22px;
	margin-top: 25px;
 }
 .container-related-mascotas{
    margin-top: 200px;
 }

 .container-related-mascotas h2{
    text-align: center;
    margin-bottom: 40px;
 }

 .card-list-mascotas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
 }

 .card{
    cursor: pointer;
 }

 .card-img{
    background: transparent;
    margin-bottom: 15px;
 }

 .card-img img{
    transition: all .5s ease;
}

.card-img:hover img{
    transform: scale(1.05);
}


 .card-img img{
    height: 400px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
 }

 .info.card{
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
 }

 .text-mascota h3{
    display: flex;
    justify-content: center;
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
 }

 .text-mascota h3:hover{
    color: #1bbeb4;
 }

 .botones{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
 }

 @media(max-width:950px){
main{
    display: block;
}
.container-img{
    width: 100%;
    padding: 0 10px;
}
.card-list-mascotas{
    display: block;
}
.card-img{
    height: 80%;
    width: 80%;
    margin-left: 10%;
}
.text-mascota h3{
    margin-bottom: 50px;
}
 }
@media(max-width:540px){
    .botones{
        display: flex;
    }
    .btn-add-to-cart{
        margin-bottom: 25px;
    }
} 


 /* ======================= Footer ====================== */

.footer {
    background-image: url(img/contacto-fondo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 50vh;
    align-items: center;
}

.contacto{
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #fff;
    padding: 80px 0;
}

.contacto-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 50px;
    font-weight: 700;
    border-bottom: 5px solid #FFCF53;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #555555;
    display: block;
    margin-bottom: 30px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #000000;
    padding-left: 10px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #444444;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: #FFCF53;
}

/* Responsive */
@media(max-width:991px){

    .contacto-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}     

/* Barra Scroll */

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: #ABABAB;
}

html::-webkit-scrollbar-thumb{
    background: #2198ad;
    border-radius: 5rem;
}