/* .formulario__grupo-input {
	position: relative;
} */

.formulario__input-error-activo {
	display: block;
}

/* .formulario__validacion-estado {
	position: absolute;
	right: 38%;
	bottom: 49.5%;
	font-size: 16px;
	opacity: 0;
} */

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {	
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input
{
	border: 3px solid #bb2929;	
}