@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

/*----------------------------------------SCROLL TOP----------------------------------------*/
/*----------------------------------------SCROLL TOP----------------------------------------*/

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;

}


.scrolltop .fab{
    font-size: 3rem;
    color: rgb(19, 158, 65);
}

/* Show scrolltop */
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/* ======================= Navbar ====================== */

img {
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgba(13, 77, 94, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
    position: fixed;
    z-index:1;
}

.logo {
    width: 220px;
    margin-top: 8px;
}

nav .logo {
    display: none;
}

/* CONFIGURAMOS EL ALIGN-ITEMS DE NAV UL */
nav ul {
    display: flex;
    align-items: center;
}

/* QUITAMOS PADDING A LAS OPCIONES VER PERFIL Y CERRAR SESION */
.user__inside{
    padding: 0;
}
/* NUEVA CLASE DE TIPO BLOCK */
.list__show{
    display: block;
}
/* CLASE DEL BOTON POR DEFECTO */
.bxs-user-circle{
    font-size: 60px;
}
/* NUEVA CLASE AL a DEL ICONO USER Y MARGIN-TOP */
.icono{
    margin-top: 3.5rem;
}
/* OCULTAMOS LAS OPCIONES DE ICONO DEL USER */
.nav__user{
    position: relative;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.nav__user:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.list__show{
    transition: clip-path .5s;
    clip-path: var(--clip);
}
/* ---FIN DE LA CONFIGURACION---- */

nav ul li a {
    color: #fff;
    display: block;
    margin: 0 3px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    color: #4dd1c2;
}

nav ul li a.active {
    background: #FFCF53;
    color: #000;
}

.hamburger {
    display: none; 
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background-color: rgba(13, 77, 94, 0.9);
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

@media only screen and (max-width: 1100px) {
    header {
        width: 100%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: rgba(13, 77, 94, 0.9);
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }
}

/* ======================= Fin Navbar ====================== */

/* ======================= Primera Secci贸n ====================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-2 {
    background-image: url(img/quienes_somos.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(img/mision.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-4 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-5 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-6 {
    
    background-image: url(img/historias.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #414247;
    margin: 25px 0 45px 0;
    text-align: center;
}

@media(max-width:991px){

    .general {
        flex-direction:  column;
    }
    .general-1 {
        width: 100%;
        padding: 110px 25px 0px 25px;
        text-align: center;
    }
    .general-2, .general-3, .general-6 {
        display: none;
    }
    .general-4 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .general-5 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }
}
/* ======================= Fin Primera Secci贸n ====================== */

/* ==================== Cartas de Presentaci贸n ================== */

h1 {
    text-align: center;
    font-size: 50px;
    padding: 50px;
    color: rgb(50, 50, 51);
}

.descripcion {
    text-align: center;
    padding: 0px 25px;
    color: rgb(53, 53, 53);
}

.card {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card__perfil {
    width: 400px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(201, 201, 201);
    border: solid rgba(3, 133, 255, 0) 2px;
    border-radius: 10px;
}

.card__perfil:hover {
    border: solid rgb(77, 209, 194) 8px;
}

.card__perfil:hover img {
    transform: rotate(0);
}

.card__perfil img {
    width: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    transform: rotate(-30deg);
    transition: all .3s;
}

.card__nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

hr {
    width: 100%;
    height: 4px;
    background: rgb(223, 221, 221);
    margin:20px 5px;
}

.card__button {
    text-align: center;
}

.enlace {
    background: rgb(255, 255, 255);
    padding: 8px 20px;
    color: #4dd1c2;
    text-decoration: none;
    border-radius: 8px; 
    transition: all .5s ease;
}

.card__perfil a:hover {
    color: #fefefe;
    background-color: #4dd1c2;
}

/* =================== Fin Cartas de Presentaci贸n ================= */

/* ======================= Footer ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

.footer {
    background-image: url(img/contacto-fondo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 50vh;
    align-items: center;
}

.contacto{
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #fff;
    padding: 80px 0;
}

.contacto-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 50px;
    font-weight: 700;
    border-bottom: 5px solid #FFCF53;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #555555;
    display: block;
    margin-bottom: 30px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #000000;
    padding-left: 10px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #444444;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: #FFCF53;
}

/* Responsive */
@media(max-width:991px){

    .contacto-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}     

/* Barra Scroll */

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: #ABABAB;
}

html::-webkit-scrollbar-thumb{
    background: #2198ad;
    border-radius: 5rem;
}