@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

/*----------------------------------------SCROLL TOP----------------------------------------*/
/*----------------------------------------SCROLL TOP----------------------------------------*/

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;

}


.scrolltop .fab{
    font-size: 3rem;
    color: rgb(19, 158, 65);
}

/* Show scrolltop */
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}

/* ======================= Navbar ====================== */

img {
    width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgba(13, 77, 94, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto;
    position: fixed;
}

.logo {
    width: 220px;
    margin-top: 8px;
}

nav .logo {
    display: none;
}

/* CONFIGURAMOS EL ALIGN-ITEMS DE NAV UL */
nav ul {
    display: flex;
    align-items: center;
}
/* QUITAMOS PADDING A LAS OPCIONES VER PERFIL Y CERRAR SESION */
.user__inside{
    padding: 0;
    color: #000;
}
.user__inside:hover{
    color: #161c1f8c;
}
/* NUEVA CLASE DE TIPO BLOCK */
.list__show{
    display: block;
}
/* CLASE DEL BOTON POR DEFECTO */
.bxs-user-circle{
    font-size: 60px;
}
/* NUEVA CLASE AL a DEL ICONO USER Y MARGIN-TOP */
.icono{
    margin-top: 3.5rem;
}
/* OCULTAMOS LAS OPCIONES DE ICONO DEL USER */
.nav__user{
    position: relative;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.nav__user:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.list__show{
    transition: clip-path .5s;
    clip-path: var(--clip);
}
/* ---FIN DE LA CONFIGURACION---- */

nav ul li a {
    color: #fff;
    display: block;
    margin: 0 3px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    color: #4dd1c2;
}

nav ul li a.active {
    background: #FFCF53;
    color: #000;
}

.hamburger {
    display: none; 
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background-color: rgba(13, 77, 94, 0.9);
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

@media only screen and (max-width: 1100px) {
    header {
        width: 100%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: rgba(13, 77, 94, 0.9);
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }
}
/* ======================= Fin Navbar ====================== */

/* ======================= Contacto ====================== */

.formulario {
    width: 100%;
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1766a3;
    background: linear-gradient(to top right, #1867a3, #4dd1c2);
}

.container {
    margin-top: 80px;
    width: 90%;
    height: 90vh;
    display: flex;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    border-radius: 30px 30px 30px 30px;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 30px 0 0 30px;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url(img/fondo-dar-adopcion.jpg);
    background-attachment: fixed;
    background-size: 950px;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 0 30px 30px 0;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 19rem;
    height: 0.2rem;
    background-color: #4dd1c2;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

textarea{
    resize: none;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0;
    padding: 0.8rem 1.2rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #4dd1c2;
}

.input-box label, h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group, .status-group, .mascotas-antes-group, .mascotas-ahora-group {
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input, .status-input, .mascotas-antes-input, .mascotas-ahora-input {
    display: flex;
    align-items: center;
}

.gender-input input, .status-input input, .mascotas-antes-input input, .mascotas-ahora-input input {
    margin-right: 0.35rem;
}

#nombres{
    cursor: not-allowed;
}

.gender-input label, 
.status-input label,
.mascotas-antes-input label,
.mascotas-ahora-input label 
 {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    border: none;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFCF53;
}

.continue-button button:hover {
    background-color: #4dd1c2;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 1rem;
        padding-left: 1rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap; 
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}

/* ======================= Fin Contacto ====================== */

/* ======================= Footer ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {

    font-family: sans-serif;
    text-transform: capitalize;
}

.footer {
    background-image: url(img/contacto-fondo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 50vh;
    align-items: center;
}

.contacto{
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #fff;
    padding: 80px 0;
}

.contacto-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 50px;
    font-weight: 700;
    border-bottom: 5px solid #FFCF53;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #555555;
    display: block;
    margin-bottom: 30px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #000000;
    padding-left: 10px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #444444;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: #FFCF53;
}

/* Responsive */
@media(max-width:991px){

    .contacto-row {
        text-align: center;
    }

    .footer-links h4 {
        margin: 0 0 25px 0;
    }

    .footer-links ul li a{
        font-size: 15px;
        margin: 0 0 5px 0;
    }
    .footer-links {
        width: 100%;
        margin-bottom: 20px;
    }
}    

/* Barra Scroll */

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: #ABABAB;
}

html::-webkit-scrollbar-thumb{
    background: #2198ad;
    border-radius: 5rem;
}