@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


:root {
    /* --container-color: #FAEEF8; */
    --nav-color: #114953;
    --slider-text: #6df0fa;
    --contact-info: #dfd1dc;
}

/*========== LAYOUT ==========*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.bd-container{
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bd-container img {
    margin-top: 15px;
    width: 210px;
    height: 55px;
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-right: 10px;
}

.l-header.sticky{
    background-color: rgba(13, 77, 94, 0.9);
}


/*========== NAV ==========*/
.nav{
    max-width: 1500px;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user__inside{
    padding: 0;
}

@media screen and (max-width: 1065px){
    .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0rem 1rem;
    text-align: center;
    background-color: rgba(13, 77, 94, 0.9);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: 100;
    }

    .l-header{
        background-color: var(--nav-color);
        transition: .4s;
    }

    .nav{
        max-width: 100%;
        height: 70px; 
    }
}

.nav__link, .nav__toggle{
    color: #F1F3F2;
    font-weight: 500;
}

.nav__link:hover{
    color: #27c2dd;
}

.nav__toggle{
    padding-right: 30px;
    font-size: 1.3rem;
    cursor: pointer;
}

/* Show menu */
.show-menu{
    top: 3rem;
}

/* Active menu */
.active-link{
    padding: 0.5rem 1rem;
    margin: 10px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-color: #FFCF53;
    color: #fff;
    cursor: pointer;
    background: #FFCF53;
    border-radius: 5rem;
    transition: background-position 0.5s;
}

.active-link:hover{
    color: #000;
}

@media screen and (min-width: 1065px) /*PARA PC*/{

    .nav{
        height: calc(3rem + 1.5rem);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
    .nav__item{
        margin-left: 1rem;
        margin-bottom: 0;
}

    .nav__toggle{
        display: none;
}

    .label{
        margin-left: 2.5rem;
        
}

    .logo{
        width:50px;
        cursor: pointer;
    }

    .nav__menu{
        display: inline-flex;
    }
}



/*----------------------------------------SCROLL TOP----------------------------------------*/
/*----------------------------------------SCROLL TOP----------------------------------------*/

.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: .4rem;
    z-index: 10;
    transition: .4s;
    visibility: hidden;

}


.scrolltop .fab{
    font-size: 3rem;
    color: rgb(19, 158, 65);
}

/* Show scrolltop */
.show-scroll{
    visibility: visible;
    bottom: 1.5rem;
}


/*----------------------------------------CONTENT BANNER----------------------------------------*/
/*----------------------------------------CONTENT BANNER----------------------------------------*/

.content{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.title{
    font-size: 6rem;
    line-height: 100px;
    font-weight: 600;
    height: 100px;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content p{
    margin: 20px auto;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 100px;
}

.reserva{
    padding: 15px 25px;
    margin: 20px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid;
    border-color: var(--slider-text);
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, var(--slider-text) 50%);
    border-radius: 5rem;
    background-size: 201%;
    background-position: right;
    transition: background-position 0.5s;
}

.reserva:hover{
    background-position: left;
    font-weight: 600;
    color: #000;
}

.slider{
    color: var(--slider-text);
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
}


/* ---------------------carrusel --------------- */

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-carousel {
    position: relative;
    width: 1910px;
    height: 950px;
    overflow: hidden;
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: 1.5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #4dd1c2;
    color: #fff;
}

.btn-left {
    left: 20px;
}

.btn-right {
    right: 20px;
}



@keyframes slider{
    0%{ margin-top: -400px; }
    5%{ margin-top: -200px; }
    30%{ margin-top: -200px; }
    35%{ margin-top: 0px; }
    65%{ margin-top: 0px; }
    70%{ margin-top: 200px; }
    100%{ margin-top: 200px; }
}

@media screen and (max-width: 770px) {

    .title{
        font-size: 30px;
        margin-bottom: 20px;;
    }

    .content p{
        font-size: .9rem;
        padding: 60px;
    }

    .reserva{
        font-size: .8rem;
    }

    button{
        font-size: 14px;
    }

    .btn-left {
        left: 0;
    }
    
    .btn-right {
        right: 0;
    }

    
}
/* ======================= Fin Carrusel de Imágenes ====================== */

/* ========================== Animales Perdidos =========================*/

.perdido{
    background-image: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)),
        url(img/perdido.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 120px 0;
}

.header-content {
    text-align: center;
}


.header-content p {
    font-size: 19px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 70px;
    line-height: 1.7;
}

.header-content h1 {
    font-size: 75px;
    line-height: 50px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn-1 {
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid;
    border-color: #2fb4cc;
    color: #fff;
    cursor: pointer;
    border-radius: 5rem;
    background-size: 201%;
    background-position: right;
}

.btn-1:hover {
    background-color: #4dd1c2;
    transition: 1.5s ;
}


@media(max-width:991px) {
    .header-content h1{
        font-size: 30px;
    }
    .header-content p{
        font-size: .9rem;
        padding: 0 27px 0 27px;
    }
} 

/* ======================== Fin animales Perdidos ======================*/

/* ======================== Sección Noticias ======================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1300px;
	margin: auto;
}

.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}

.title-cards h2 {
    color: #2fb4cc;
    line-height: 60px;
    font-size: 50px;
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}

.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

.card img{
	width: 100%;
	height: 430px;
}

.card .contenido-card{
	padding: 15px;
	text-align: center;
}

.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}

.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}

.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}

.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
        width: 90%;
	}
    .title-cards h2 {
        font-size: 40px;
    }
	.card{
		margin: 15px;
	}
    .card img{
        height: 350px;
    }
}


/* ======================= Footer ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

.footer {
    background-image: url(img/contacto-fondo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 50vh;
    align-items: center;
}

.contacto{
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #fff;
    padding: 80px 0;
}

.contacto-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #333333;
    margin-bottom: 50px;
    font-weight: 700;
    border-bottom: 5px solid #FFCF53;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #555555;
    display: block;
    margin-bottom: 30px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #000000;
    padding-left: 10px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #444444;
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: #FFCF53;
}

/* Responsive */
@media(max-width:991px){

    .contacto-row {
        text-align: center;
    }

    .footer-links h4 {
        margin: 0 0 25px 0;
    }

    .footer-links ul li a{
        font-size: 15px;
        margin: 0 0 5px 0;
    }
    .footer-links {
        width: 100%;
        margin-bottom: 20px;
    }
}    

/* Barra Scroll */

html::-webkit-scrollbar{
    width: .7rem;
}

html::-webkit-scrollbar-track{
    background: #ABABAB;
}

html::-webkit-scrollbar-thumb{
    background: #2198ad;
    border-radius: 5rem;
}